{% extends 'base.html' %}
{% load static %}
{% block title %}文章详细{% endblock %}

{% block css %}

{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        文章编辑
        <small>article info</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li>文章总表</li>
        <li class="active">文章编辑</li>
      </ol>
    </section>
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">

      <!-- Default box -->
      <div class="box">

          <div class="box-header with-border">
          <h3 class="box-title"><strong class="btn btn-block btn-primary btn-lg">文章：{{ article.title }}</strong></h3>

          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
              <i class="fa fa-minus"></i></button>
            <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
              <i class="fa fa-times"></i></button>
          </div>
        </div>

        <div class="box-body">

            <br />
          {{ article.text }}


        </div>
        <!-- /.box-body -->
        <div class="box-footer">
<!--          <i class="fa fa-angle-double-left"></i>&nbsp;&nbsp;<a href="{% url 'articles:detail' article.id %}"><strong>返回文章详情页</strong></a>-->
          <i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;<a href=""><strong>保存</strong></a>
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>
    <!-- /.content -->

{% endblock %}

{% block script %}

{% endblock %}