{% extends 'base.html' %}
{% load static %}
{% block title %}写文章{% endblock %}

{% block css %}

{% endblock %}

{% block breadcrumb %}
<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        写文章
        <small>write article</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 主页</a></li>
        <li>写文章</li>
        <li class="active">写文章</li>
      </ol>
    </section>
{% endblock %}

{% block content %}

    <!-- Main content -->
    <section class="content">


        <div class="box-body">
             <form action="." method="post">
                 {% load static %}

                 {% if message %}
                    <div class="alert alert-warning">{{ message }}</div>
                 {% endif %}
                    {% csrf_token %}
                 <h3 class="text-left">标题：{{ new_article_form.title }}</h3>
                 <hr>
                 <h3 class="text-left">正文：</h3>
                     {{ new_article_form.media }}
                 <script src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
                 <script src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
                 <textarea name="editor1"></textarea>
                  <script>
                      CKEDITOR.replace( 'editor1' , {uiColor: '#9AB8F3'});
                  </script>
                    <button type="submit" class="btn btn-primary float-right">保存</button>
                 <div class="box-footer">
                    <i class="fa fa-angle-double-right"></i>&nbsp;&nbsp;<a href=""><strong>返回</strong></a>
                 </div>
             </form>
        </div>
        <!-- /.box-body -->

        <!-- /.box-footer-->

      <!-- /.box -->

    </section>
    <!-- /.content -->

{% endblock %}

{% block script %}

{% endblock %}